@charset "UTF-8";


:root {
    /* Cores principais da pagina*/

    --cor0: #ffffff;
    --cor1: #009FDB;
    --cor2: #6D78A8;
    --cor3: #383F5D;

    /* Fontes da pagina*/
    --fontsTitle: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --fontLinks: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background-color: var(--cor0);
    overflow-x: hidden;

    display: flex;
    flex-flow: column;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: var(--cor0);
    border-bottom: 4px solid var(--cor3);
}

.nav-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

#mobileMenu {
    color: var(--cor3);
    font-size: 2rem;
    display: none;
}

.nav-list {
    margin-right: 15px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 30px;
}

.nav-list li {
    list-style-type: none;
}

.nav-list a {
    color: #383F5D;
    text-decoration: none;
    font-family: var(--fontLinks);
    font-size: 1.5rem;
    font-weight: bold;
    transition: all 0.5s;
}

.nav-list a:hover {
    color: #009FDB;
    text-shadow: 2px 2px 2px black;
}

main {
    width: 100%;
    display: flex;
    flex-flow: column;
    flex: 1;
}

.imagem {
    margin-top: 20px;
    min-height: 400px;
    background-image: url(../imagens/capa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid var(--cor1);
}

.conteudo-inicial h2 {
    margin-top: 20px;
    color: var(--cor2);
    text-indent: 10px;
    font-family: var(--fontsTitle);
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    padding: 10px;
}

.conteudo-inicial p {
    text-indent: 20px;
    margin-top: 10px;
    line-height: 1.6;
    font-size: 1.1rem;
    padding: 20px;
}

.conteudo-inicial ul {
    text-indent: 20px;
}

footer {
    margin-top: 20px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}