@charset "UTF-8";


:root {
    /* Cores principais da pagina*/
    --cor0: #ffffff;
    --cor1: #F0F4F8;
    --cor2: #4A5568;
    --cor3: #1A365D;
    --cor-link-hover: #009FDB;

    /* Fontes da pagina*/
    --fontsTitle: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --fontLinks: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background-color: var(--cor0);
    overflow-x: hidden;

    display: flex;
    flex-flow: column;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: var(--cor0);
    border-bottom: 4px solid var(--cor3);
}

.nav-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

#mobileMenu {
    color: var(--cor3);
    font-size: 2rem;
    display: none;
}

.nav-list {
    margin-right: 15px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 30px;
}

.nav-list li {
    list-style-type: none;
}

.nav-list a {
    color: #383F5D;
    text-decoration: none;
    font-family: var(--fontLinks);
    font-size: 1.5rem;
    font-weight: bold;
    transition: all 0.5s;
}

.nav-list a:hover {
    color: #009FDB;
    text-shadow: 2px 2px 2px black;
}

@media(max-width: 780px) {

.nav-list {
    position: fixed;
    top: 10vh;
    left: 0;
    width: 50vw;
    height: 90vh;
    background: #ffffff;
    box-shadow: -2px 0 8px black;

    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateY(100%);
    transition: ease-in 0.5s;
}

.nav-list.active {
    transform: translateY(0%);
}

#mobileMenu {
    display: flex;
    cursor: pointer;
}
}

main {
    width: 100%;
    min-height: calc(100vh - 10vh);
    margin-top: 10vh;
    background-color: var(--cor1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    background-color: var(--cor0);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.527);
}

.container h2 {
    font-family: var(--fontsTitle);
    font-size: 2rem;
    text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.281);
    margin-bottom: 20px;
    margin-top: 10px;
    color: var(--cor3);
    border-bottom: 2px solid var(--cor-link-hover);
    padding: 10px;
}

label {
    font-weight: bold;
    color: var(--cor3);
    font-size: 0.9rem;
}

input, select {
    width: 100%;
    padding: 10px 20px;
    margin-top: 6px;
}

input[type="radio"] {
    accent-color: var(--cor-link-hover); /* Muda a cor da bolinha */
}

input[type="submit"] {
    width: 100%;
    background-color: var(--cor3);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease;
}

input[type="submit"]:hover {
    background-color: var(--cor-link-hover);
}