@media(max-width: 780px) {
.imagem {
    margin-top: 100px;
    width: 100%;
    height: 200px;
    min-height: 0;
    background-image: url(../imagens/capa-Mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.nav-list {
    position: fixed;
    top: 10vh;
    left: 0;
    width: 50vw;
    height: 90vh;
    background: #ffffff;
    box-shadow: -2px 0 8px black;

    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateY(100%);
    transition: ease-in 0.5s;
}

.nav-list.active {
    transform: translateY(0%);
}

#mobileMenu {
    display: flex;
    cursor: pointer;
}
}