@charset "UTF-8";


:root {
    /* Cores principais da pagina*/
    --cor0: #ffffff;
    --cor1: #F0F4F8;
    --cor2: #4A5568;
    --cor3: #1A365D;
    --cor-link-hover: #009FDB;

    /* Fontes */
    --fontsTitle: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    --fontLinks: 'Segoe UI', Tahoma, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background-color: var(--cor1);
    color: var(--cor3);
    overflow-x: hidden;

    display: flex;
    flex-flow: column;
}

header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: var(--cor0);
    border-bottom: 4px solid var(--cor3);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
}

.nav-menu {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

#mobileMenu {
    color: var(--cor3);
    font-size: 2rem;
    display: none;
}

.nav-list {
    margin-right: 15px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 30px;
}

.nav-list li {
    list-style-type: none;
}

.nav-list a {
    color: #383F5D;
    text-decoration: none;
    font-family: var(--fontLinks);
    font-size: 1.5rem;
    font-weight: bold;
    transition: all 0.5s;
}

.nav-list a:hover {
    color: #009FDB;
    text-shadow: 2px 2px 2px black;
}

@media(max-width: 780px) {

.nav-list {
    position: fixed;
    top: 10vh;
    left: 0;
    width: 50vw;
    height: 90vh;
    background: #ffffff;
    box-shadow: -2px 0 8px black;

    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateY(100%);
    transition: ease-in 0.5s;
}

.nav-list.active {
    transform: translateY(0%);
}

#mobileMenu {
    display: flex;
    cursor: pointer;
}
}

main {
    width: 100%;
    min-height: calc(100vh - 10vh);
    margin-top: 10vh;
}

.diferenciais {
    padding: 60px;
    text-align: center;
}


.container p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: var(--cor2);
    margin-bottom: 20px;
    text-align: justify;
}

.container h2 {
    font-family: var(--fontsTitle);
    font-size: 2.2rem;
    margin-bottom: 20px;
    margin-top: 10px;
    color: var(--cor3);
}
.cards-diferenciais {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.card {
    width: 300px;
    background: var(--cor0);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.466);
    transition: transform 0.5s ease;
    border-top: 5px solid var(--cor2);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 15);
}

.card img {
    width: 100%;
    height: 200px;
}

.card p {
    padding: 20px;
    font-size: 1rem;
    text-align: center;
    line-height: 1.4;
    
}